@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold mt-6 mb-8 px-4 text-blue-500;
    }

    h2 {
        @apply text-2xl font-medium mt-1 px-4 text-red-900;
    }

    h3 {
        @apply text-base mt-1 px-4 text-gray-700;
    }

    p {
        @apply px-3;
    }

    input {
        @apply border-2 border-gray-300 rounded-md p-2 mb-4 outline-none;
    }

    select {
        @apply border-2 border-gray-300 rounded-md p-2 mb-4 outline-none;
    }

    label {
        margin-bottom: 1rem;
    }

    aside {
        @apply bg-gray-50 p-5 rounded-lg border border-gray-200 min-h-full;
    }

    form {
        @apply flex flex-col px-12;
    }
}
@layer utilities {
    .hamburger-container {
        @apply absolute left-1.5 top-1.5 flex items-center justify-center h-10 w-10;
    }

    .hamburger {
        @apply cursor-pointer rounded-full h-10 w-10;
    }

    .hamburger:hover {
        @apply bg-blue-400;
    }

    .hamburger img {
        @apply h-6 w-10;
    }

    .nav-container {
        @apply relative flex h-screen w-5/12;
    }

    .nav-bar {
        @apply absolute top-0 left-0 w-full min-h-full z-20 bg-white shadow-lg;
    }

    .close-nav {
        @apply absolute top-2 right-2 h-10 w-10;
    }
    
    .btn-close-nav {
        @apply flex items-center justify-center bg-gray-50 rounded-full text-blue-500 cursor-pointer w-full h-full;
    }

    .btn-close-nav:hover {
        @apply bg-blue-400;
    }

    .main-content {
        @apply absolute inset-x-10 top-10 h-16;	
    }

    #container {
        @apply flex min-h-screen h-full;
    }

    .main-container {
        @apply flex flex-col items-center;
    }

    .header-container {
        @apply flex flex-col items-start justify-start w-1/2;
    }

    /* Styling the list items */
    .aside-list {
        @apply text-lg p-2.5 border-b border-gray-200 transition-colors duration-300 ease-in-out;
    }

    /* Add hover effect on list items */
    .aside-list:hover {
        @apply text-blue-500 bg-slate-100 cursor-pointer;
    }

    /* .hidden {
        display: none;
        visibility: hidden;
    }

    .nav-bar.hidden {
        @apply pointer-events-none opacity-0 z-0;
    } */

    .list-container {
        @apply flex flex-col items-center justify-center;
    }

    .list-container li {
        @apply rounded-lg;
    }

    .list-container li:hover {
        @apply bg-slate-100 text-red-800 cursor-pointer;
    }

    .list-contact {
        @apply flex;
    }

    .contact-emoji, .contact-name {
        @apply flex items-center justify-center text-center;
    }

    .contact-emoji {
        @apply rounded-full h-28 w-28 bg-gray-100 mt-6;
    }

    .contact-emoji p {
        @apply text-6xl;
    }

    .contact-name p {
        @apply text-3xl;
    }

    .btn-layered {
        position: relative;
        display: inline-block;
        padding: 0.75rem 1.5rem; /* Tailwind's py-3 px-6 */
        background-color: #3b82f6; /* Tailwind's blue-500 */
        color: white;
        border-radius: 0.375rem; /* Tailwind's rounded-md */
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.1); /* Tailwind's shadow-lg */
        transition: background-color 0.3s;
        margin-bottom: 1rem;
    }

    .btn-submit {
        background-color: rgb(124 58 237);
    }

    .detail-container {
        @apply flex flex-col items-center max-w-lg mx-auto pt-8;
    }

    .detail-container h3 {
        @apply text-start;
    }

    .btn-icon-container {
        @apply flex items-center justify-center w-12 mx-0.5;
    }

    .btn-icon {
        @apply flex justify-center items-center rounded-xl;
    }

    .btn-icon:hover {
        @apply bg-blue-400;
    }

    .btn-icon-img {
        @apply h-5;
    }

    #div-delete {
        @apply fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 rounded-lg;
    }

    .delete-container {
        @apply bg-white p-5 rounded-lg shadow-lg text-center;
    }

    .delete-btn-container {
        @apply flex justify-center space-x-2;
    }

    .btn-cancel {
        @apply bg-gray-100 m-1.5 text-black;
    }

    .btn-delete {
        @apply bg-red-500 m-1.5;
    }

    .actions-container {
        @apply flex flex-row items-stretch justify-end;
    }

    .actions-container button {
        @apply m-1.5 w-full h-full inline-flex;
    }
}